:root{
    --main-color: #032444;
    --sec-color: #38BDF8;
}

body{
    background-image: url(../img/hero-dark@90.dba36cdf.jpg);
    background-size: cover;
    font-family: Righteous, cursive;
}

.container h1{
    font-family: Pacifico, cursive;
}


.item,.output{
    background-color: var(--main-color);
}


.cover h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    bottom: 10px;
    background-color: var(--sec-color);
    transition: height 350ms;
    z-index: -1;
}

.cover h1:hover::before {
    height: 65%;
}

